<div class="right-section">
  <div class="nav">
    <button id="menu-btn">
      <span class="material-symbols-outlined"> menu </span>
    </button>
    <div class="dark-mode">
      <span class="material-symbols-outlined active"> light_mode </span>
      <span class="material-symbols-outlined"> dark_mode </span>
    </div>

    <div class="profile">
      <div class="info">
        <p>Bem vindo, <b>Gato Shelby</b></p>
        <small class="text-muted">ADM</small>
      </div>
      <div class="profile-photo">
        <img src="../assets/img4.jpeg" />
      </div>
    </div>
  </div>
</div>


