<main>
  <h1>Dashboard</h1>
  <div class="analyse">
    <div class="sales">
      <div class="status">
        <div class="info">
          <h3>Total de Usuarios</h3>
          <h1>20</h1>
        </div>
        <div class="progresss">
          <svg>
            <circle cx="38" cy="38" r="36"></circle>
          </svg>
          <div class="percentage">
            <p>+35%</p>
          </div>
        </div>
      </div>
    </div>
    <div class="visits">
      <div class="status">
        <div class="info">
          <h3>Armazenamento</h3>
          <h1>4.95 GB</h1>
          <h1 class="danger">100 GB</h1>
        </div>
        <div class="progresss">
          <svg>
            <circle cx="38" cy="38" r="36"></circle>
          </svg>
          <div class="percentage">
            <p>+18%</p>
          </div>
        </div>
      </div>
    </div>
    <div class="searches">
      <div class="status">
        <div class="info">
          <h3>Objetos cadastrados</h3>
          <h1>42</h1>
        </div>
        <div class="progresss">
          <svg>
            <circle cx="38" cy="38" r="36"></circle>
          </svg>
          <div class="percentage">
            <p>+21%</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="new-users">
    <h2>Novos Colaboradores</h2>
    <div class="user-list">
      <div class="user">
        <img src="../../../assets/rastaCat.jpg" />
        <h2>RastaCat</h2>
        <p>5 min atras</p>
      </div>
      <div class="user">
        <img src="../../../assets/batman.jpg" />
        <h2>BatCat</h2>
        <p>10 min atras</p>
      </div>
      <div class="user">
        <img src="../../../assets/policialCat.jpg" />
        <h2>Seu Puliça</h2>
        <p>15 min atras</p>
      </div>
      <div class="user">
        <img src="../../../assets/img4.jpeg" />
        <h2>Gato Shelby</h2>
        <p>Usuario Mais importante da empresa</p>
      </div>
    </div>
  </div>
  <div class="recent-orders">
    <h2>Historico</h2>
    <table>
      <thead>
        <tr>
          <th>Nome</th>
          <th>Numero de indetificação</th>
          <th>Status</th>
          <th>Data</th>
          <th></th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <a href="#">Exibir todos</a>
  </div>
</main>
